---
layout: layout.liquid
title: Radiant Lemons Blog
---

<h1><strong>Radiant</strong> Lemons</h1>

<img alt="Fall Colors" src="/images/Fall.JPG" width="500" />

<h2>Thanksgiving 2016</h2>

<p>As life usually goes, I've been swamped, traveling for work, then taking the opportunity to go home for Thanksgiving.</p>

<p>It's been 4 years since I've been in Michigan in the fall. I'm happily writing from my parent's living room,  cuddled up with one of their dogs, waiting on the arrival of mine and the mister.</p>

<p>The last two days have been the epitome of fall here, brisk and cold, with frost on the ground in the mornings. The trees are bare and the sky is oh so blue.</p>

<p>Thanksgiving has always been one of my favorite holidays. I love the tradition of giving gifts, but this time of year, there's no pressure. Just the anticipation of hugs and getting to see everyone, and of course amazing food.</p>

<p>If you aren't being diligent about your thank-yous, now is the perfect time to restart a habit worth having. The best ones are simple and train you to look for the small joys in life.</p>

<p>One thing that I love about being home is the wildlife. I'm thankful for seeing blue jays fly across the front yard, thankful for spotting a downy woodpecker on the feeder, and seeing my sister's dog jump with ecstasy as he flings a corncob he found on the side of the road.</p>

<p>Hearing my niece say, "run hoddie, run!" on our walks, feeling the crisp air on my face, and   getting a slice of pizza from my favorite pizza shop are things that could easily be overlooked or dismissed as just part of life. But those are the things that truly make me happy.</p>

<p>Life is made up of small moments, this becomes more evident the longer I'm on the planet. We're told by society that our lives are defined by big moments, birth, school, graduation, marriage, kids, etc., but we don't have to be.</p> 

<p>Let me repeat that. You do NOT have to  be defined by the big steps laid out by others.</p>

<p>That's the best part about life! We make it our own. Be defined by the little joy you find each day, hopefully every few minutes! I once had a coworker who said, wow, you are always pointing out something that is making you happy.</p>

<p>Wouldn't it be nice to always be sharing your happy moments with people?</p>

<h3>- Holly</h3>
